<h1>Надо сделать</h1>

<%= render 'form' %>

<div id='needs'>
    <% @needs.each do |date, need| %>
      <div class='item <%= "completed" if need[:completed] %>' id='<%= date %>'>  
        <div class='info'><%= need[:date] %>: </div>
        <div class='text'>
          <%= need[:text] %>
        </div>
        <div class='edit' style="display:none;">
          <textarea><%= need[:text] %></textarea>
        </div>
        <div class='controls'>
          <input type='checkbox' class='complete_doing' <%= 'checked' if need[:completed] %>>
          <%= link_to 'Удалить', "/#{date}", method: :delete, remote: true %>
        </div>
      </div>
    <% end %>
</div>
