<h1>Список дел</h1>

<div id="new_need">
  <textarea id="need_text"></textarea>
  <a id="add" href="#"></a>
</div>

<div id='needs'>
    <% @needs.each do |date, need| %>
      <div class='item <%= "completed" if need[:completed] %>' id='<%= date %>'>  
        <div class='info'><%= need[:date] %>: </div>
        <div class='text'><%= need[:text].gsub(/\\n/, "\n") %></div>
        <div class='edit' style="display:none;">
          <textarea><%= need[:text].gsub(/\\n/, "\n") %></textarea>
        </div>
        <div class='controls'>
          <%= link_to '', '#', class: 'delete_need' %>
          <%= link_to '', '#', class: 'complete_need' %>
        </div>
      </div>
    <% end %>
</div>

<div id='buffer'></div>